div{
border: 1px solid grey;
margin: 5px;
padding: 5px;
}

.App {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: larger;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 20px 0px
}

#floorPlan {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 2fr 1fr;
  align-content: stretch;
}

#cont1 {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}
#cont2 {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.bedroom {
  background-color: blue;
}

.bath {
  background-color: green;
}

#bath-Full {
  grid-column: 1;
  grid-row: 2;
}

#livingRoom {
  background-color: goldenrod;
  grid-column: 2;
  grid-row: 1 / 3;
}

#kitchen {
  background-color: lightcoral;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-row: 1 / 3;
}

#oven {
  background-color: lightsalmon;
  grid-row: 1;
}

#sink {
  background-color: lightsalmon;
  grid-row: 1;
}