/* .App {
  text-align: center;
  background-color: rgb(73, 72, 72);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(16, 226, 44);
  font-style: italic;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
} */


